# === Build directories ===
/build/
/CMakeFiles/
/rom/

# === Compilazione intermedia ===
*.o
*.obj
*.lst
*.map
*.sym
*.ihx
*.rel
*.asm
*.adb
*.lk
*.noi

# === ROM finali ===
*.gb
*.gbc

# === VS Code ===
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# === OS cruft ===
.DS_Store
Thumbs.db
